.img {
	&.img__profile {
		@include size(9rem);
		border-radius: 100%;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		transition: all 1s;

		&:hover {
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.9);
		}
	}

	&.img__link {
		@include size(3rem);
		border-radius: 0.75rem;
		font-weight: 100;
	}
}
