.link {
	padding: 0.5rem;
	width: 30rem;
	background: rgba(255, 255, 255, 0.43);
	border-radius: 1rem;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	transition: all 0.5s;

	&:hover {
		background: rgba(255, 255, 255, 0.3);
	}

	a {
		display: flex;
		align-items: center;

		span {
			flex-grow: 1;
			text-align: center;
			font-weight: 600;
			color: white;
		}
	}

	@include for-phone-only {
		width: 20rem;
	}
}
